<%= irelia_page_header(title: t(".title"), subline: t(".description")) %>

<div class="max-w-3xl flex flex-col gap-y-10">
  <p><%= t(".content") %></p>

  <% if two_factor_enabled? %>
    <%= irelia_button_to "#", method: :delete do %>
      <%= t(".buttons.disable") %>
    <% end %>
    <%= controller_path %>
  <% else %>
    <%= irelia_button(url: new_user_settings_two_factor_path) { t(".buttons.enable") } %>
  <% end %>
</div>
