<%= irelia_page_header(title: t(".title"), subline: t(".description")) %>

<div class="max-w-3xl">

  <% if @user.unconfirmed_email? %>
    <%= irelia_notification(variant: :warning, html_options: { id: "pending_email_notification", class: "mb-5" }, title: t(".notifications.pending_email_change.title")) do %>
      <%== t(".notifications.pending_email_change.text", email: h(@user.unconfirmed_email)) %>
      <div class="inline-block">
        <%= button_to cancel_pending_email_user_settings_profile_path, method: :delete do %>
          <%== t(".notifications.pending_email_change.cancel") %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <%= irelia_form(model: @user, url: user_settings_profile_path) do |form| %>
    <!-- Form fields for the account object -->
    <%= form.fields_for :personal_account, @user.personal_account do |personal_account_form| %>
      <%= render "kiqr/accounts/form_fields", form: personal_account_form %>
    <% end %>

    <!-- Form fields for the user object -->
    <%= render "kiqr/users/shared/user_fields", form: form %>

    <%= form.submit t(".submit") %>
  <% end %>
</div>
