<% title "Sign in to your account" %>

<h1><%= t(".title", app_name: Kiqr.config.app_name) %></h1>
<h2><%= t(".description") %></h2>

<%= render partial: "social_buttons" %>

<%= form_with model: resource, url: session_path(resource_name), local: true do |f| %>
  <div class="field">
    <%= f.label :email, t(".email.placeholder") %>
    <%= f.email_field :email, placeholder: t(".email.placeholder"), required: true, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, t(".password.placeholder") %>
    <%= f.password_field :password, placeholder: t(".password.placeholder"), required: true, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, t(".remember_me.label") %>
    </div>
  <% end %>

  <div>
    <%= f.submit t(".submit_button") %>
  </div>

  <div>
    <p><%= t(".no_account") %>
      <%= link_to t(".sign_up"), new_user_registration_path %>
    </p>
  </div>
<% end %>
