<% title t(".title") %>

<%= render(PageLayouts::Settings::Component.new(
  title: t(".title"),
  description: t(".description")
)) do %>
  <div class="box">
    <header class="border-b pb-4 mb-4">
      <h3 class="font-bold text-primary uppercase">
        <%= t(".title") %>
      </h3>
    </header>
    <article class="prose dark:prose-invert">
      <p><%= t(".instructions") %></p>
      <%= simple_form_for(@user, url: destroy_two_factor_path, method: :delete) do |f| %>
        <%= f.input :otp_attempt, label: t(".label"), placeholder: t(".placeholder") %>
        <div>
          <%= f.submit t(".button"), class: "button danger" %>
        </div>
      <% end %>
    </article>
  </div>
<% end %>
