<% title "Create a new account" %>

<%= fullscreen do |screen| %>
  <%= screen.with_form(
    title: t(".heading.title", app_name: Kiqr::Config.app_name),
    description: t(".heading.description")
  ) do %>
  <main class="flex flex-col gap-4 w-full max-w-2xl">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.input :email, placeholder: t(".form.email.placeholder"), required: true, autofocus: true, input_html: { autocomplete: "email" } %>

      <div class="flex flex-col lg:flex-row justify-between items-start gap-4">
        <%= f.input :password, placeholder: t(".form.password.placeholder"), required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation, placeholder: t(".form.password_confirmation.placeholder"), required: true, input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="mt-4 flex justify-between items-center">
        <%= f.button :submit, t(".form.submit_button") %>
        <p><%= t(".already_have_account") %> <%= link_to t(".sign_in"), new_user_session_path, class: "font-bold transition text-primary" %>
      </div>
    <% end %>
  </main>
  <% end %>
<% end %>
