<%= irelia_split_screen(variant: :reverse, center: true) do %>
  <header>
    <h1 class="text-2xl font-bold mb-2"><%= t(".title", app_name: Kiqr.config.app_name) %></h1>
    <h2><%= t(".description") %></h2>
  </header>

  <%= render partial: "social_buttons" %>

  <%= irelia_form(model: resource, as: resource_name, url: session_path(resource_name)) do |form| %>
    <%= render "form_fields", form: form %>
    <%= form.submit t(".submit") %>
  <% end %>

  <div>
    <%= render "devise/shared/links" %>
  </div>
<% end %>
