<%= irelia_page_header(title: t(".title"), subline: t(".description")) %>

<div class="max-w-3xl">
  <%= irelia_form(model: @user, url: user_settings_password_path, method: :patch) do |form| %>
    <%= form.password_field :current_password, label: t("kiqr.users.settings.passwords.form.current_password.label"), placeholder: t("kiqr.users.settings.passwords.form.current_password.placeholder") %>
    <%= form.password_field :password, label: t("kiqr.users.settings.passwords.form.password.label"), placeholder: t("kiqr.users.settings.passwords.form.password.placeholder") %>
    <%= form.password_field :password_confirmation, label: t("kiqr.users.settings.passwords.form.password_confirmation.label"), placeholder: t("kiqr.users.settings.passwords.form.password_confirmation.placeholder") %>
    <%= form.submit t(".submit") %>
  <% end %>
</div>
