<h1><%= t(".title") %></h1>
<h2><%= t(".description", team_name: @team.name) %></h2>

<% if user_signed_in? && onboarded? %>
  <p><%= t(".instructions", team_name: @team.name) %></p>
  <div>
    <%= button_to t(".buttons.accept"), accept_invitation_path(@invitation), method: :post %>
    <%= button_to t(".buttons.decline"), reject_invitation_path(@invitation), method: :post %>
  </div>
<% else %>
  <p><%= t(".guest_instructions", team_name: @team.name) %></p>
  <%= link_to "Sign in", new_user_session_path %>
  <%= t(".or") %>
  <%= link_to "Create account", new_user_session_path, class: "button alt" %>
<% end %>
