<%= navbar.item(icon: "fa fa-dashboard", label: t(".dashboard"), path: dashboard_path) %>

<nav class="ml-auto flex gap-x-8 items-center">
  <%= navbar.account_selector if onboarded? %>
  <%= navbar.item(icon: "fa fa-gear", path: edit_account_path) %>
  <%= navbar.dark_mode_switch %>
  <%= button_to destroy_user_session_path, method: :delete do %>
    <i class="fa fa-sign-out text-rose-400"></i>
  <% end %>
</nav>
