<div class="flex items-center justify-between bg-surface-hover py-3 px-4 text-sm font-bold border-y">
  <%= t(".account_settings") %>
  <i class="fa fa-arrow-turn-down w-3 h-3"></i>
</div>

<%= render(PageLayouts::Settings::NavigationItem::Component.new(
  label: t('.items.account.label'),
  description: t('.items.account.description'),
  icon: "fa fa-id-card-clip",
  path: edit_account_path
)) %>

<% unless current_account.personal? %>
  <%= render(PageLayouts::Settings::NavigationItem::Component.new(
    label: t('.items.members.label'),
    description: t('.items.members.description'),
    icon: "fa fa-users",
    path: members_path,
    active: current_base_path?(members_path) || current_base_path?(account_invitations_path)
  )) %>
<% end %>

<div class="flex items-center justify-between bg-surface-hover py-3 px-4 text-sm font-bold border-y">
  <%= t(".user_settings") %>
  <i class="fa fa-arrow-turn-down w-3 h-3"></i>
</div>

<%= render(PageLayouts::Settings::NavigationItem::Component.new(
  label: t('.items.preferences.label'),
  description: t('.items.preferences.description'),
  icon: "fa fa-sliders",
  path: edit_user_preferences_path,
  active: current_base_path?(edit_user_preferences_path)
)) %>

<%= render(PageLayouts::Settings::NavigationItem::Component.new(
  label: t('.items.two_factor.label'),
  description: t('.items.two_factor.description'),
  icon: "fa fa-shield-halved",
  path: edit_two_factor_path,
  active: current_base_path?(edit_two_factor_path)
)) %>

<%= render(PageLayouts::Settings::NavigationItem::Component.new(
  label: t('.items.user.label'),
  description: t('.items.user.description'),
  icon: "fa fa-lock",
  path: edit_user_registration_path
)) %>

<%= render(PageLayouts::Settings::NavigationItem::Component.new(
  label: t('.items.delete_user.label'),
  description: t('.items.delete_user.description'),
  icon: "fa fa-person-circle-minus",
  path: delete_user_registration_path
)) %>
