<div class="flex items-center justify-between bg-surface-hover py-3 px-4 text-sm font-bold border-y">
  <%= t(".account_settings") %>
  <i class="fa fa-arrow-turn-down w-3 h-3"></i>
</div>

<%= render(PageLayouts::Settings::NavigationItem::Component.new(
  label: t('.items.account.label'),
  description: t('.items.account.description'),
  icon: Current.account.personal? ? "fa fa-user" : "fa fa-users",
  path: edit_account_path
)) %>

<div class="flex items-center justify-between bg-surface-hover py-3 px-4 text-sm font-bold border-y">
  <%= t(".user_settings") %>
  <i class="fa fa-arrow-turn-down w-3 h-3"></i>
</div>

<%= render(PageLayouts::Settings::NavigationItem::Component.new(
  label: t('.items.two_factor.label'),
  description: t('.items.two_factor.description'),
  icon: "fa fa-shield-halved",
  path: edit_two_factor_path,
  active: current_base_path?(edit_two_factor_path)
)) %>

<%= render(PageLayouts::Settings::NavigationItem::Component.new(
  label: t('.items.user.label'),
  description: t('.items.user.description'),
  icon: "fa fa-lock",
  path: edit_user_registration_path
)) %>

<%= render(PageLayouts::Settings::NavigationItem::Component.new(
  label: t('.items.delete_user.label'),
  description: t('.items.delete_user.description'),
  icon: "fa fa-person-circle-minus",
  path: delete_user_registration_path
)) %>
