<% title t(".title") %>
<%= render(PageLayouts::Settings::Component.new(
  title: t(".title"),
  description: t(".description")
)) do %>
  <div class="box">
    <header class="border-b pb-4 mb-4">
      <h3 class="font-bold text-primary uppercase"><%= t(".delete.box_title") %></h3>
    </header>
    <div class="prose dark:prose-invert">
      <p><%= t(".delete.description", name: @account_user.name) %></p>
      <%= button_to t(".delete.button"), account_user_path(@account_user), class: "button danger", method: :delete, data: { confirm: t(".confirmation_message", name: @account_user.name), turbo_confirm: t(".confirmation_message", name: @account_user.name) } %>
    </div>
  </div>
  <div class="mt-6 flex justify-start gap-x-6 items-center">
    <%= link_to account_users_path, class: "button alt" do %>
      <i class="fa fa-arrow-left"></i> <%= t(".back_to_members") %>
    <% end %>
  </div>
<% end %>
