<!DOCTYPE html>
<html>
  <head>
    <title>KIQR Dummy Application</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <div><%= render "kiqr/partials/navbar" %></div>
    <div><%= notice %><%= alert %></div>
    <%= yield %>
  </body>
</html>
