<%= form_with(model: user, url: verify_two_factor_path, method: :post) do |form| %>
  <div class="field">
    <%= form.label :otp_attempt, t(".label") %>
    <%= form.text_field :otp_attempt, placeholder: t(".placeholder") %>
    <% if user.errors[:otp_attempt].any? %>
      <div class="error"><%= user.errors[:otp_attempt].join(", ") %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit t(".verify_button") %>
  </div>
<% end %>
