<%= render(Navbar::Dropdown::Component.new(chevron: false)) do |dropdown| %>
  <% dropdown.with_custom_content() do %>
    <span class="flex gap-x-6 items-center min-w-72">
      <%= render(Navbar::Separator::Component.new) %>
      <img src="https://picsum.photos/30" class="rounded -mr-2">
      <span class="flex flex-col text-left line-height gap-y-0.5 mr-2">
        <strong class="font-bold text-primary"><%= Current.account.name %></strong>
        <% if Current.account.personal? %>
          <span class="text-xs flex items-center"><i class="fa fa-user text-light mr-1 w-3 h-3"></i> Personal account</span>
        <% else %>
          <span class="text-xs flex items-center"><i class="fa fa-users text-light mr-1 w-4 h-4"></i> Team account</span>
        <% end %>
      </span>
      <i class="fa ml-auto fa-caret-down"></i>
      <%= render(Navbar::Separator::Component.new) %>
    </span>
  <% end %>

  <span class="py-2 px-4 font-bold">Switch account <i class="fa w-3 h-3 fa-arrow-turn-down"></i></span>

  <%= link_to dashboard_path(account_id: nil), class: "flex items-center justify-between px-4 py-2.5 hover:bg-background" do %>
    <span><%= Current.user.personal_account.name %></span>
    <i class="fa fa-user w-4 h-3 float-right"></i>
  <% end %>

  <% Current.user.accounts.each do |account| %>
    <%= link_to dashboard_path(account_id: account), class: "flex items-center justify-between px-4 py-2.5 hover:bg-background" do %>
       <span><%= account.name %></span>
       <i class="fa fa-users w-4 h-4 float-right"></i>
    <% end %>
  <% end %>

  <%= link_to "Create a new team", "#", class: "block px-4 py-2.5 hover:bg-background" %>
<% end %>
