<%= irelia_page_header(title: t(".title"), subline: t(".description")) %>

<%= irelia_container size: :md do %>
  <%= irelia_flex direction: :column, gap: :lg do %>
    <%= irelia_html do %>
      <p><%= t(".content") %></p>
      <ol>
        <% t(".steps").each do |step| %>
          <li><%= step %></li>
        <% end %>
      </ol>
    <% end %>

    <%= irelia_flex gap: :lg do %>
      <div id="qr-code-wrapper"><%= render_qr_code(@user.otp_uri) %></div>
      <%= render "form", user: @user %>
    <% end %>
  <% end %>
<% end %>
