<%= irelia_page_header(title: t(".title"), subline: t(".description", account_name: @account.name)) %>
<div class="max-w-3xl flex flex-col gap-y-10">
  <div class="prose">
    <%= simple_format t(".content", account_name: @account.name, inviter_name: @member.invited_by.name) %>
  </div>

  <%= irelia_stack do %>
    <%= irelia_button_to t(".buttons.accept_invitation"), accept_user_invitation_path(invitation_token: @invitation_token), method: :patch %>
    <%= irelia_button_to t(".buttons.decline_invitation"), decline_user_invitation_path(invitation_token: @invitation_token), color: :danger, method: :delete %>
  <% end %>
</div>
