<% title "You've been invited to join #{@team.name}" %>

<%= fullscreen do |screen| %>
  <%= screen.with_form(
    title: t(".title"),
    description: t(".description", team_name: @team.name)
  ) do %>
    <main class="flex flex-col gap-8 w-full max-w-xl">

      <% if user_signed_in? && onboarded? %>
        <p><%= t(".instructions", team_name: @team.name) %></p>
        <div class="flex justify-center gap-x-4">
          <%= button_to t(".buttons.accept"), "#", class: "button", method: :patch, params: {
            user_invitation: { status: "accepted" }
          } %>
          <%= button_to t(".buttons.decline"), "#", class: "button danger", method: :patch, params: {
            user_invitation: { status: "declined" }
          } %>
        </div>
      <% else %>
        <p><%= t(".guest_instructions", team_name: @team.name) %></p>
        <div class="flex justify-center items-center gap-x-4">
          <%= link_to "Sign in", new_user_session_path, class: "button" %>
          <%= t(".or") %>
          <%= link_to "Create account", new_user_session_path, class: "button alt" %>
        </div>
      <% end %>
    </main>
  <% end %>
<% end %>
