<% title t(".title") %>

<%= render(PageLayouts::Settings::Component.new(
  title: t(".title"),
  description: t(".description")
)) do %>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.input :email, placeholder: t(".form.email.placeholder"), required: true, autofocus: true %>

    <div class="flex flex-col lg:flex-row justify-between items-start gap-4">
      <%= f.input :password, placeholder: t(".form.password.placeholder"), hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation, placeholder: t(".form.password_confirmation.placeholder"), input_html: { autocomplete: "new-password" } %>
    </div>

    <%= f.input :current_password, placeholder: t(".form.current_password.placeholder"), hint: t(".form.current_password.hint"), required: true, input_html: { autocomplete: "current-password" } %>

    <div class="mt-4 flex justify-between items-center">
      <%= f.button :submit, t(".form.submit_button") %>
    </div>
  <% end %>
<% end %>
