<%= form_with(model: account, url: form_submit_path, method: form_method) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: (account.personal? ? t(".name.personal") : t(".name.team")), required: true, autofocus: true %>
    <% if account.errors[:name].any? %>
      <div class="error"><%= account.errors[:name].join(", ") %></div>
    <% end %>
  </div>

  <div class="mt-4 flex justify-between items-center">
    <%= form.submit account.persisted? ? t(".button.save") : t(".button.create"), class: "button" %>
  </div>
<% end %>
