<h1><%= t(".title") %></h1>
<h2><%= t(".description") %></h2>

<% if @invitations.any? %>
  <table>
    <thead>
      <tr>
        <th><%= t(".table.email") %></th>
        <th><%= t(".table.url") %></th>
        <th class="text-right"><%= t(".table.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @invitations.each do |invitation| %>
        <tr>
          <td><%= invitation.email %></td>
          <td><%= invitation_url(invitation, account_id: nil) %></td>
          <td>
            <%= button_to t(".table.remove"), account_invitation_path(id: invitation), method: :delete, data: { confirm: t(".confirm_delete", email: invitation.email), turbo_confirm: t(".confirm_delete", email: invitation.email) } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t(".no_invitations") %></p>
<% end %>
