<% title t(".title") %>
<%= render(PageLayouts::Settings::Component.new(
  title: t(".title"),
  description: t(".description")
)) do %>
  <div class="box">
    <header class="border-b pb-4 mb-4">
      <h3 class="font-bold text-primary uppercase"><%= t(".box_title") %></h3>
    </header>

    <div class="prose dark:prose-invert">
      <p><%= t(".instructions") %></p>

      <%= simple_form_for(@invitation, url: account_invitations_path) do |f| %>
        <%= f.input :email, placeholder: t(".form.email.placeholder"), required: true, autofocus: true %>
        <div class="mt-4 flex justify-between items-center">
          <%= f.button :submit, t(".form.submit") %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="mt-6 flex justify-start gap-x-6 items-center">
    <%= link_to account_users_path, class: "button alt" do %>
      <i class="fa fa-arrow-left"></i> <%= t(".back_to_members") %>
    <% end %>
  </div>
<% end %>
