<%= irelia_page_header(title: t(".title", app_name: Kiqr::Config.app_name), subline: t(".description")) %>

<div class="max-w-3xl flex flex-col gap-y-10">
  <p><%= t(".content") %></p>

  <% if @conflicting_account_users.any? %>
    <p><%= t(".remove_team_accounts_first") %></p>
    <strong><%= t(".owned_team_accounts") %></strong>
    <ul>
      <% @conflicting_account_users.each do |account_user| %>
        <li><%= account_user.account.name %></li>
      <% end %>
    </ul>
  <% else %>
    <%= irelia_button_to t(".submit"), user_registration_path, color: :danger, name: "commit", data: { confirm: t(".confirmation_message"), turbo_confirm: t(".confirmation_message") }, method: :delete %>
  <% end %>
</div>
